.matrix-container {
    display: flex;
    flex-direction: column; /* Aligns input rows down */
  }
  
  .matrix-row {
    display: flex;
    justify-content: flex-start; /* Aligns input fields to the right within each row */
  }
  
  .matrix-cell {
    width: 50px; /* Adjust the width as needed */
    margin-right: 5px; /* Add spacing between input fields */
  }

.bosscontainer{
    margin-top: 5rem;
    
}

.matrix-input-container {
    margin-top: 30px;
    display: flex;
  }

.matrix-input{
    display: flex;
    margin-right: 20px;

  
}
